/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #4a90e2, #9013fe);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.status-box {
  font-size: 1.2rem;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  min-width: 200px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #5cb85c;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}